<div class="container row">
{{#each bills}}
  <div class="col-md-3 card">
    <section class="card-header">
      {{name}}
    </section>
    <ul>
      <li>${{amount}}</li>
      <li>{{billtype}}</li>
      <li>{{notes}}</li>
    </ul>
  </div>
  {{/each}}
</div>



