

<form action="/createBill" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Company Name: </label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">Bill Amount: </label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Bill Type:</label>
    <select class="form-control">
      <option>Mortgage / Rent</option>
      <option>Utilities</option>
      <option>Mortgage</option>
      <option>Entertainment</option>
      <option>Other</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1"> Bill Cycle: </label>
    <select class="form-control">
      <option>Daily</option>
      <option>Weekly</option>
      <option>Bi-Weekly</option>
      <option>Monthly</option>
      <option>Quarterly</option>
      <option>Bi-Annually</option>
      <option>Yearly</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">Due Date: (ie. May 30) </label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Notes:</label>
    <textarea class="form-control" rows="4"></textarea>
  </div>
  <input type="submit" />
</form>


{{!-- <form action="" method="POST" >
  Company Name: <input type="text" name="name" value="{{celeb.name}}"/><br>
  Type: <input type="text" name="occupation" value="{{celeb.occupation}}"/>
  <input type="text" name="catchPhrase" value="{{celeb.catchPhrase}}"/>
  <input type="submit" />
</form> --}}