<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/videos/flux_trim.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-2">BILLIFY</h1>
        <p class="lead mb-0">Minimalistic Bill Tracking</p>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <p>Billify is simplicity and security</p>
        <p>Easily stay on top of your regular payments</p>
        <p>No need to register any banking information. Simple and secure.</p>
        <p class="mb-0">

        </p>
      </div>
    </div>
  </div>
</section>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">

        <a data-toggle="modal" data-target="#imgModal1" href=""><img class="img-thumbnail"
            src="/images/billify-profile.png" alt="" style="width:100%"></a>

        <div class="caption">
          <p class="text-center">Dashboard - An overview page that you can use to create your bills</p>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">

        <a data-toggle="modal" data-target="#imgModal2" href=""><img class="img-thumbnail"
            src="/images/billify-details.png" alt="" style="width:100%"></a>
        <div class="caption">
          <p class="text-center">Detailed page to view, edit, and delete bills.</p>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">

        <a data-toggle="modal" data-target="#imgModal3" href=""><img class="img-thumbnail"
            src="/images/billify-charts.png" alt="" style="width:100%"></a>
        <div class="caption">
          <p class="text-center">Charts that quickly display your expense data.</p>
        </div>

      </div>
    </div>
  </div>
</div>



<hr>
<br>
<br>






<div class="container">

  <div class="text-center">
    <h1><span class="fa fa-lock"></span> </h1>



    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a> <br><br>

  </div>


  {{!-- Image 1 Modal --}}
  <div class="modal fade" id="imgModal1" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-img" role="document">
      <div class="modal-content">


        <img class="modal-img" src="/images/billify-profile.png" style="width:250%">





      </div>
    </div>
  </div>

  {{!-- Image 2 Modal --}}
  <div class="modal fade" id="imgModal2" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-img" role="document">
      <div class="modal-content">


        <img class="modal-img" src="/images/billify-details.png" style="width:250%">





      </div>
    </div>
  </div>

  {{!-- Image 3 Modal --}}
  <div class="modal fade" id="imgModal3" tabindex="-1" role="dialog" aria-labelledby="imgModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-img" role="document">
      <div class="modal-content">


        <img class="modal-img" src="/images/billify-charts.png" style="width:250%">





      </div>
    </div>
  </div>