<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/videos/flux_trim.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-2">BILLIFY</h1>
        <p class="lead mb-0">Minimalistic Bill Tracking</p>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <p>Billify is simplicity and security</p>
        <p>Easily stay on top of your regular payments</p>
        <p>No need to register any banking information. Simple and secure.</p>
        {{!-- <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p> --}}
        <p class="mb-0">
         
        </p>
      </div>
    </div>
  </div>
</section>
<div class="container">

    <div class="text-center">
        <h1><span class="fa fa-lock"></span> </h1>

        

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a> <br><br>
        {{!-- <p> Or </p>
        <p>Login with:</p>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fab fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fab fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fab fa-google-plus"></span> Google+</a> --}}
    </div>

    


